<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577147937433-b6tqs2dsfpn5r52mmd414a77ctinp1gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577147937433-b6tqs2dsfpn5r52mmd414a77ctinp1gk</string>
	<key>API_KEY</key>
	<string>AIzaSyC0HWQrmjv1nFgc10eD0Dz8vh1aRWqUYHE</string>
	<key>GCM_SENDER_ID</key>
	<string>577147937433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smileidentity.smileidentitydemo</string>
	<key>PROJECT_ID</key>
	<string>sid-dev-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>sid-dev-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577147937433:ios:7deeac6bdfae0c49084e08</string>
	<key>DATABASE_URL</key>
	<string>https://sid-dev-demo.firebaseio.com</string>
</dict>
</plist>